
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.register-form{
    padding: 10vmax;
    border: 1px solid black;
    width: 60vw;
    /* height: 60vh; */
}
.register-form button{
    width: fit-content;
}